.day {
	display: flex;
	flex: 1 1 0px;
	width: 100%;
	background-color: var(--blue-green-color);
	color: black;
	border-radius: 5px;
	text-align: center;
}

.no-food {
	background-color: var(--gray-color) !important;
}

.day .day-label {
	padding-left: 3px;
	font-size: 16px;
	font-weight: 500;
	writing-mode: tb;
	text-orientation: upright;
	padding-right: 5px;
}

.day .meals {
	display: flex;
	width: 100%;
}
