input {
	border: 0;
	height: 2rem;
}

.checkbox-input {
	height: 2rem;
	width: 2rem;
}

.checkbox-input.s {
	height: 1.5rem;
	width: 1.5rem;
}

.number-input {
	text-align: center;
}

.number-input.s {
	width: 4rem;
}

.number-input.xs {
	width: 2rem;
}

select {
	height: 2rem;
	text-align: center;
	font-weight: 500;
	border: 0;
}

select.s {
	height: 2rem;
	width: 3rem;
}

textarea {
	resize: none;
	font-size: 0.8rem;
	min-height: 4rem;
	max-height: 5rem;
	border: 0;
}
