.input {
	width: 100%;
	/* margin-bottom: 10px; */
	display: flex;
	flex-direction: column;
	/* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); */
}

input {
	height: 30px;
	width: 100%;
	border-radius: 5px;
	text-align: left;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	border: 0;
}

select {
	height: 30px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
	font-weight: 500;
}

textarea {
	width: 100%;
	border-radius: 5px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.input-label {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 0.9rem;
	font-weight: 500;
}

.checkbox-input {
}

.text-input {
	padding: 5px;
	border: 0;
}

.textarea-input {
	resize: vertical;
	font-size: 0.8rem;
	min-height: 4rem;
	max-height: 5rem;
	padding: 5px;
	border: 0;
}

.select-input {
	padding: 5px;
	border: 0;
}

.number-input {
	text-align: center;
}
