.menu-modal-content {
	max-height: 70vh;
}

.menu-modal-inputs {
	margin: 10px 0 10px 0px;
	display: flex;
	gap: 5px;
}

.menu-modal-inputs button {
	width: 30px;
	margin: 2px 5px 0px 10px;
}

.menu-modal-inputs .not-favourite {
	background-color: gray;
}

.menu-modal-buttons {
	display: flex;
	gap: 5px;
}
