.meal-modal-content {
	max-height: 70vh;
}

.edit-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.meal-modal-inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.old-dish-name {
	font-size: 1.2rem;
	margin-bottom: 5px;
}

.meal-modal-buttons {
	display: flex;
	gap: 5px;
	margin-top: 10px;
}
