.meal-modal-content {
	/* max-height: 70vh; */
	height: 100%;
}

.edit-container {
	display: flex;
	flex-direction: column;
	padding: 10px;
	height: 100%;
	justify-content: space-between;
}

.meal-modal-inputs {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.old-dish-name {
	font-size: 1.2rem;
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.meal-modal-buttons {
	display: flex;
	gap: 5px;
	margin-top: 10px;
}
