.menu-modal-content {
	max-height: 80vh;
	width: 100%;
}

.disabled {
	background-color: gray !important;
	border-left: 1px solid gray !important;
}

.menu-modal-inputs {
	padding: 10px;
	max-height: 75vh;
	overflow-y: auto;
}

.menu-modal-day-container {
	display: flex;
	width: 100%;
	border-bottom: 1px solid black;
}

.menu-modal-day-inputs {
	display: flex;
	flex-wrap: wrap;
}

.day-is-checked {
	padding: 5px;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: left;
}

.has-meal {
	justify-content: left;
	display: flex;
	flex-direction: row-reverse;
	margin-left: 5px;
	align-items: center;
}

.menu-modal-day-meals {
	display: flex;
	border-left: 1px solid black;
}

.menu-modal-max-inputs {
	margin-top: 10px;
}

.meal-max-input label {
	font-size: 0.8rem;
	padding-top: 7px;
	border-bottom: 1px solid black;
	width: 50%;
}

.meal-max-input input {
	width: 30px;
	font-size: 0.9rem;
}
