.week-view {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.week-view .week-view-header-buttons {
	height: 3rem;
	width: 100%;
	border-top: 1px solid black;
	display: flex;
	justify-content: space-between;
}

.week-view .week-view-header-buttons button {
	border-radius: 0;
	border-right: 1px solid black;
	color: black;
	font-size: 16px;
}

.week-view .week-view-header-buttons button:last-of-type {
	border-right: none;
}

.week-view .week-view-content {
	height: calc(100% - 3rem);
	width: 100%;
	overflow: hidden;
}

.no-week-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.no-week-container button {
	height: 80px;
	width: 120px;
	background-color: #3f8881;
	font-size: 16px;
	font-weight: 600;
	border-radius: 10px;
	border: none;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

/* 
.week-view .week-buttons {
    margin: 10px;
    display: flex;
    justify-content: center;
} */
