.button {
	cursor: pointer;
	border: none;
	user-select: none !important;
	width: auto;
	color: var(--white-color);
	background-color: var(--primary-color);
	min-height: 4rem;
	min-width: 4rem;
	transition: transform 0.2s ease, background-color 0.2s ease;
	
	&:active {
		background-color: var(--light-color);
	}

	&:focus {
		outline: none;
	}

	// &.icon {
	// 	font-size: 2rem;
	// }

	&.xs {
		width: 1rem;
		height: 1rem;
	}

	&.s {
		width: 2rem;
		height: 2rem;
	}

	&.m {
		width: 3rem;
		height: 3rem;
	}

	&.l {
		width: 4rem;
		height: 4rem;
	}

	&.xl {
		width: 5rem;
		height: 5rem;
	}

	&.xxl {
		width: 6rem;
		height: 6rem;
	}

	&.circle {
		border-radius: 50%;
	}

	&.square {
		border-radius: 0!important;
	}
}

@keyframes colorPulse {
	0% {
		background-color: var(--dark-color);
	}

	50% {
		background-color: var(--dark-color);
	}

	100% {
		background-color: var(--primary-color);
	}
}
