.button {
	width: 100%;
	background-color: var(--blue-green-color);
	color: var(--black-color);
	border: none;
	padding: 5px;
	border-radius: 5px;
	font-weight: 500;
	cursor: pointer;
	align-items: center;
	text-align: center;
	user-select: none !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button.square {
	height: 2rem;
	width: 2rem;
}

.button.circle {
	height: 3rem;
	width: 3rem;
	border-radius: 2rem;
	box-shadow: var(--basic-box-shadow);
}

.button.icon-only {
	font-size: 1.5rem;
}

.buttons-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
}

.buttons-group .button {
	width: 6rem !important;
}
