.form {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.form-header {
	display: flex;
	/* gap: 5px; */
}

.form-header .button {
	background-color: #3f8881;
	border-radius: 0px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.form-inputs {
	max-height: 25rem;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	padding: 10px;
	gap: 5px;
}

.dish-inputs {
	min-height: 25rem;
}

.not-selected {
	background-color: #757f7e;
}

.form-footer {
	padding: 0px 10px 0px 10px;
	font-size: 1.5rem;
}

.form .submit {
	width: 100%;
	border: none;
	margin: 5px 0;
	color: black;
	font-weight: 600;
	border-radius: 5px;
}

.form .form-header .disabled {
	font-weight: 300;
}
