
.form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-inputs {
   max-height: 400px;
   overflow-y: auto;
   padding: 10px;
}

.form .form-input {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.form .form-select {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.form .form-textarea {
    margin-bottom: 10px;
    width: 100%;
    resize: vertical; 
    min-height: 10vh;
    max-height: 20vh;
    padding: 5px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.form .submit {
    width: 100%;
    border: none;
    margin: 5px 0;
    color: black;
    font-weight: 600;
    border-radius: 20px;
}

/* Ingredients bit */
.form-ingredients {
    width: 100%;
    margin: 5px 0;
}

.form-ingredients-ingredient {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;

}

.form-ingredients-ingredient-name {
    width: 50%;
    padding: 5px;
    font-weight: 600;
    border-bottom: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-ingredients-ingredient-quantity-container {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.form-ingredients-ingredient-quantity {
    padding: 5px;
    width: 30%;
    text-align: center;
    border:0;
    background-color: transparent;
}
.form-ingredients-ingredient-unit {
    background-color: transparent;
    border: none;
    padding-left: 1px;
    width: 30%;
    font-weight: 600;
    font-size: 11px;
}

.form-ingredients-ingredient-remove {
    padding-left: 0px;
    background-color: transparent;
    width: 30%;
    border: none;
    padding-top: 0px;
    text-align: center;
}