.list-container {
    height: 100%;
}

.list-container .list {
    height: 95%;
    width: 100%;
    overflow-y: auto;
    list-style: none;
    padding: 5px;
    margin: 0;
}
.add-container {
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-container .add-button {
    border: none;
    border-radius: 0!important;
    border-top: 2px solid #ceb8a1;
}
