.list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	padding: 0px 5px 5px 5px;
}

.list-filters {
	display: flex;
	align-items: center;
	gap: 5px;
	width: 100%;
	height: 3rem;
}

.list-search-filter {
	flex: 2;
}

.list-filter-by {
	flex: 1;
}

.list-sort-by {
	flex: 1;
}

.list {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: calc(100% - 3rem);
	width: 100%;
	margin: 0;
	padding-top: 5px;
	gap: 5px;
}

.list-add-button {
	position: absolute;
	bottom: 3.5rem;
}
