.list-container {
	height: 100%;
}

.list-filters {
	display: flex;
	align-items: center;
	gap: 5px;
	width: 100%;
	height: 3rem;
}

.list-search-filter {
	flex: 2;
}

.list-filter-by {
	flex: 1;
}

.list-sort-by {
	flex: 1;
}

.list {
	overflow-y: auto;
	align-items: center;
	height: calc(100% - 3rem);
	width: 100%;
	padding: 0px 5px;
	margin-top: 3rem;
}

.list-add-button {
	position: fixed;
	bottom: 3.2rem;
}
