.list-item {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: var(--blue-green-color);
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
}

.list-item .list-item-label {
	font-weight: 500;
	width: 65%;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-item .list-item-buttons {
	display: flex;
	justify-content: flex-end;
	width: 35%;
	gap: 5px;
}

.list-item-type {
	display: flex;
	align-items: center;
	background-color: var(--blue-green-color);
	font-size: 0.8rem;
	font-weight: 500;
}
