.list-item {
	cursor: pointer;
	align-items: center;
	height: 3rem;
	width: 100%;
	border-radius: 10px;
	padding: 5px 10px;
}

.list-item-label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-item-buttons {
	display: flex;
	width: auto;
}
