.delete-mode {
	padding: 5px;
	font-size: 1.2rem;
}

.delete-mode .delete-mode-message {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	gap: 5px;
	margin: 10px 0px;
}

.delete-mode .delete-mode-buttons {
	display: flex;
}

.delete-mode .delete-mode-buttons button {
	background-color: var(--black-color);
	color: var(--white-color);
	font-weight: 500;
	border-radius: 5px;
}
