.delete-mode {
	padding: 5px;
	font-size: 1.2rem;
}

.delete-mode .delete-mode-message {
	display: flex;
	flex-direction: column;
	text-align: center;
	display: flex;
	margin-bottom: 10px;
}

.delete-mode .delete-mode-buttons {
	display: flex;
}

.delete-mode .delete-mode-buttons button {
	margin: 0 10px;
}

.delete-mode .delete-mode-buttons button.delete {
	background-color: black;
	color: white;
	font-weight: 600;
	border-radius: 5px;
}
