
.list-modal-content {
    height: 100%;
}

/* DIPLAY */
.list-modal-content-display {
    text-align: left;
}

.list-modal-content-display-props {
    padding-left: 10px;
    max-height: 50vh;
    overflow-y: auto;
}

.list-modal-content-display-props-prop {
    margin: 5px 0;
}

.list-modal-content-display-props-prop strong{
   font-size: 1rem!important;
}
.list-modal-content-display-props-prop{
    font-size: 0.8rem;
 }

.list-modal-content-display-props ul{
    list-style: none;
    padding-left: 5px;
}

/* .list-modal-content-display-props-prop {

} */

.list-modal-content-display-props-ingredients-label {
    text-decoration: underline;
    font-weight: 600;
    font-size: 1rem!important;
}

.list-modal-content-display-props-ingredients li{
    font-size: 0.8rem;
}

/* DELETE */

.list-modal-content-delete .list-modal-content-delete-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    margin-bottom: 10px;
}

.list-modal-content-delete .list-modal-content-delete-buttons {
    display: flex;
}

.list-modal-content-delete .list-modal-content-delete-buttons button {
    margin: 0 10px;
}

.list-modal-content .delete {
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
