.modal-content-dish-edit {
	height: 40rem;
	
	.dish-modal-ingredients-list {
		max-height: 30rem;
	}
	
	.instructions-content {
		height: 30rem;
	}
	
	.ingredient-options {
		height:30rem;
	}
	
	.add-ingredients-view {
		height: 35rem;
	}
	
	.new-ingredient-form {
		height: 35rem;
	}
	
}
