.toast-messages-container {
	display: flex;
	position: absolute;
	top: 50px;
	right: 5px;
	width: 100%;
	z-index: 600;
	justify-content: end;
	flex-direction: column;
}

.toast-messages-container .toast-message-container {
	display: flex;
	flex-direction: row-reverse;
	max-width: 100%;
	margin: 5px 0px 5px 0px;
}

.toast-message-container .toast-message-content {
	max-width: 95%;
	min-width: 40%;
	background-color: black;
	padding: 10px;
	border-radius: 5px;
	color: white;
	font-size: 0.85rem;
	font-weight: 500;
	box-shadow: var(--basic-box-shadow);
}

.toast-message-content.info {
	background-color: var(--blue-color);
}

.toast-message-content.success {
	background-color: var(--green-color);
}

.toast-message-content.alert {
	background-color: var(--red-color);
}

.toast-message-content.error {
	background-color: var(--red-color);
}
