.toast-context-wrapper {
	position: fixed;
	top: 3rem;
	right: 0px;
	z-index: var(--toast-z-index);
}

.toast-message {
	max-width: 20rem;
	color: var(--white-color);
	background-color: var(--green-color);
}

.toast-message.info {
	background-color: var(--green-color);
}

.toast-message.success {
	background-color: var(--green-color);
}

.toast-message.alert {
	background-color: var(--red-color);
}

.toast-message.error {
	background-color: var(--red-color);
}
