/* @media (min-width: 480px) {
	:root {
		font-size: 12px !important;
		--full-modal-width: 40rem!important;
		--full-modal-height: calc(100vh - 18rem)!important;
	}
}

@media (min-width: 769px) {
	:root {
		font-size: 14px !important;
		--full-modal-width: 40rem!important;
		--full-modal-height: calc(100vh - 18rem)!important;
	}
}

@media (min-width: 1025px) {
	:root {
		font-size: 16px !important;
		--full-modal-width: 40rem!important;
		--full-modal-height: calc(100vh - 18rem)!important;
	}
} */
