

/* Colors */
.c-primary {
	color: var(--primary-color) !important;
}

.c-lightest {
	color: var(--lightest-color) !important;
}

.c-light {
	color: var(--light-color) !important;
}

.c-dark {
	color: var(--dark-color) !important;
}

.c-darkest {
	color: var(--darkest-color) !important;
}

.c-black {
	color: var(--black-color) !important;
}

.c-white {
	color: var(--white-color) !important;
}

/* Background colors */
.bgc-primary {
	background-color: var(--primary-color) !important;
}

.bgc-lightest {
	background-color: var(--lightest-color) !important;
}

.bgc-light {
	background-color: var(--light-color) !important;
}

.bgc-dark {
	background-color: var(--dark-color) !important;
}

.bgc-darkest {
	background-color: var(--darkest-color) !important;
}

.bgc-green {
	background-color: var(--success-color) !important;
}

.bgc-error {
	background-color: var(--error-color) !important;
}

.bgc-black {
	background-color: var(--black-color) !important;
}

.bgc-trans {
	background-color: transparent !important;
}

.bgc-offline {
	background-color: var(--offiline-background-color) !important;
}
