.week {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: auto;
}

.week-buttons {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.days {
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    padding: 10px;
}
  

  
