.week {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.week-plan {
    justify-content: center;
}

.week-buttons {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.days {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding: 10px;
}
  

  
