.main {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: var(--beige-color);
}

.offline-mode {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: var(--offiline-background-color);
}
