.main {
	display: flex;
	flex-direction: column;
	height: calc(100% - 3rem);
	width: 100%;
	background-color: var(--beige-color);
}

.offline-mode {
	background-color: var(--offiline-background-color) !important;
}
