.menu-builder-days button:first-of-type {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.menu-builder-days button:last-of-type {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.menu-builder-modal-content {
	height: calc(var(--full-modal-height ) - 18rem);
	overflow-y: auto;
}
