.day {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    background-color: darkgoldenrod;
    color: black;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    height: 25%;
}

.day-label {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
    border-bottom: solid 3px black;
}


  

  
