.day {
	display: flex;
	flex: 1 1 0px;
	width: 100%;
	background-color: #3f8881;
	color: black;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

.no-food {
	background-color: gray !important;
}

.day .day-label {
	padding-left: 3px;
	font-size: 16px;
	font-weight: 600;
	writing-mode: tb;
	text-orientation: upright;
	padding-right: 5px;
	border-right: solid 2px black;
}

.day .meals {
	display: flex;
	width: 100%;
}
