.day {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    background-color: darkgoldenrod;
    color: black;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    height: 25%;
}

.day .day-label {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: solid 2px black;
}

.day .meals {
    display: flex;
    height: 95%;
    flex-direction: column;
    justify-content: space-around;
}


  

  
