.modal-background {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: var(--modal-z-index);
	background-color: rgba(0, 0, 0, 0.7);
}

.modal.f {
	width: var(--full-modal-width);
	max-height: var(--full-modal-height);
}

.modal.s {
	min-width: 12rem;
	max-width: var(--full-modal-width);
	max-height: 20rem;
}

.modal-header {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.modal-header-text {
	flex: 4;
}

.modal-content.dish {
	height: calc(var(--full-modal-height) - 3rem);
}
