.modal {
	border-radius: 10px;
	background-color: var(--beige-color);
}

.modal.full {
	width: 22rem;
	max-height: var(--full-modal-height);
}

.modal.s {
	min-width: 12rem;
	max-width: 22rem;
	max-height: 10rem;
}

.modal-header {
	align-items: center;
	height: 3rem;
	font-weight: 700;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.modal-header button {
	border-radius: 10px;
}

.modal-header-text {
	text-align: center;
	flex: 4;
}
