.modal {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: var(--beige-color);
}

.modal.full {
	width: 22rem;
	max-height: 35rem;
}

.modal.small {
	min-width: 12rem;
	max-width: 22rem;
	max-height: 10rem;
}

.modal .modal-header {
	width: 100%;
	font-weight: 700;
	background-color: var(--blue-green-color);
	font-size: 1rem;
	display: flex;
	align-items: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.modal .modal-header .modal-header-text {
	text-align: center;
	flex: 4;
	margin: 0.5rem;
}

.modal .modal-header .modal-header-close-button {
	font-size: 1.5rem;
	flex: 0.5;
}

.modal .modal-content {
	width: 100%;
}
