.modal {
	display: flex;
	flex-direction: column;
	box-shadow: var(--basic-box-shadow);
}

.modal.full {
	width: 100%;
	max-height: 85%;
}

.modal.small {
	min-width: 50%;
	max-width: 80%;
	max-height: 50%;
}

.modal .modal-header {
	height: 2.5rem;
	width: 100%;
	font-weight: 700;
	background-color: var(--blue-green-color);
	font-size: 1rem;
	display: flex;
	align-items: center;
	padding: 2px 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.modal .modal-header .modal-header-text {
	text-align: center;
	flex: 4;
}

.modal .modal-header .modal-header-close-button {
	font-size: 1.5rem;
	flex: 0.4;
}

.modal.full .modal-content {
	height: 93%;
}

.modal .modal-content {
	width: 100%;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	/* padding: 10px; */
	background-color: #ceb8a1;
}
