.header {
  position: sticky;
  top:0px;
  width: 100%;
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-text {
  margin-top: 10px;
}

.header-buttons {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

button {
  width: 100%;
  height: 100%;
  background-color: #282c34;
  border: none;
  border-top: 1px solid white;
  border-right: 1px solid white;
  color: white;
  
}

button:last-of-type {
  border-right: none;
}