.header {
	width: 100%;
	height: 5vh;
}

.offline-mode button {
	color: black !important;
}

.header .header-buttons {
	display: flex;
	height: 100%;
}

.header .header-buttons .view-buttons {
	width: 90%;
	display: flex;
	justify-content: space-around;
}

header .header-buttons .view-buttons button {
	width: 100%;
	height: 100%;
	border: none;
	border-right: 1px solid #ceb8a1;
	color: white;
	border-radius: 0;
	padding: 5px;
}

header .header-buttons .signout-button {
	width: 10%;
	height: 100%;
	border: none;
	border-radius: 0;
	color: white;
}
