.header {
	width: 100%;
	height: 50px;
}

.header .header-buttons {
	display: flex;
	height: 100%;
}

.header .header-buttons .view-buttons {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

header .header-buttons .view-buttons button {
	width: 100%;
	height: 100%;
	border: none;
	border-right: 1px solid black;
	color: black;
	border-radius: 0;
	padding: 5px;
}
header .header-buttons .view-buttons button:last-of-type {
	border-right: none;
}

header .header-buttons .signout-button {
	width: 10%;
	height: 100%;
	border: none;
	border-radius: 0;
	color: black;
}
