.ingredients-list-container {
    height: 100%;
}

.ingredients-list-container .ingredients-list {
    height: 95%;
    width: 100%;
    overflow-y: auto;
    list-style: none;
    padding: 5px;
    margin: 0;
}
.add-ingredient {
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-ingredient .add-ingredient-button {
    background-color: darkgoldenrod;
    color: black;
    border: none;
    border-radius: 50%;
}

.ingredient-modal-content {
    height: 100%;
}

.ingredient-modal-form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ingredient-modal-form-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ingredient-modal-form-input input {
    width: 90%;
}

.ingredient-modal-form-input select {
    width: 90%;
}