.dishes-list-container {
    height: 100%;
}

.dishes-list {
    height: 95%;
    width: 100%;
    overflow-y: auto;
    list-style: none;
    padding: 5px;
    margin: 0;
}

.add-dish {
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-dish .add-dish-button {
    background-color: darkgoldenrod;
    color: black;
    border: none;
    border-radius: 50%;
}
