.form-input-group {
	display: flex;
	margin-top: 10px;
	/* gap: 60px; */
	justify-content: space-around;
}

.form-input-group .group-input {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.type-input {
	display: flex;
	gap: 10px;
	/* justify-content: space-around; */
}

.group-input .button {
	height: 30px;
	width: 30px;
}

.group-input .group-input-inputs {
	display: flex;
	gap: 5px;
}

.form-input-group input {
	width: 30px;
}

.group-input-label {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
}

.ingredients-types-container {
	display: flex;
	gap: 5px;
	/* min-height: 50px; */
	align-items: center;
	overflow-x: hidden;
	overflow-y: hidden;
	flex-wrap: wrap;
	padding-bottom: 5px;
	justify-content: center;
}

.ingredients-types-container .input {
	/* background-color: #3f8881; */
	max-width: 7rem;
}

.ingredients-types-container .input .select-input {
	background-color: #3f8881;
}

.instructions-container {
	max-height: 28rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.instruction-container {
	display: flex;
	gap: 5px;
}

.instruction-container .input {
	flex: 2 1 auto;
}

.instruction-container .button {
	flex: 1 1;
}

.instruction-buttons {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
/* Ingredients bit */

.form-ingredients {
	width: 100%;
	/* margin: 5px 0 15px 0px; */
	margin-top: 5px;
	/* padding-bottom: 5px; */
	height: 19rem;
	overflow-y: scroll;
}

.form-ingredients-ingredient {
	display: flex;
	justify-content: space-between;
	width: 98%;
	margin-bottom: 5px;
	font-size: 0.9rem;
	align-items: center;
	border-bottom: 1px solid black;
}

.form-ingredients-ingredient-name {
	width: 50%;
	padding: 5px;
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.form-ingredients-ingredient-quantity-container {
	display: flex;
	width: 50%;
	justify-content: flex-end;
}

.form-ingredients-ingredient-quantity {
	width: 30% !important;
	margin: 0px !important;
}

.form-ingredients-ingredient-quantity input {
	width: 100%;
	text-align: center !important;
	border: 0 !important;
	background-color: transparent !important;
	padding: 5px !important;
	box-shadow: none;
}

.form-ingredients-ingredient-unit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	font-weight: 600;
}

.form-ingredients-ingredient-unit {
	background-color: transparent;
	border: none;
	text-align: center;
	cursor: pointer;
	width: 30%;
	font-weight: 600;
	box-shadow: none;
}

.form-ingredients-ingredient-remove {
	background-color: transparent !important;
	border: none !important;
}

.new-ingredient-submit-button {
	margin-top: 10px;
	font-size: 1.5rem;
}
