.week-view-header {
	height: 3rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.week-view-header button {
	border-radius: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.week-view-header button:last-of-type {
	border-bottom-right-radius: 0px;
}

.week-view-header button:first-of-type {
	border-bottom-left-radius: 0px;
}

.week-view-content {
	height: 100%;
	width: 100%;
	padding: 5px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.build-menu-button {
	box-shadow: var(--basic-box-shadow);
}
