.footer {
	width: 100%;
	height: 3rem;
	display: flex;
	background-color: var(--beige-color);
}

footer .button {
	width: 100%;
	height: 100%;
	border-radius: 0;
	background-color: var(--gray-color);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

footer button:first-of-type {
	border-top-left-radius: 0px;
}

footer button:last-of-type {
	border-top-right-radius: 0px;
}

footer .selected {
	background-color: var(--blue-green-color) !important;
}
