.footer {
    width: 100%;
    height: 6%;
    background-color: black;
}

.offline-mode button{
    background-color: darkgoldenrod!important;
    color: black!important;
}

.footer .footer-buttons {
  display: flex;
  height: 100%;
}

.footer .footer-buttons .view-buttons {
    width:90%;
    display: flex;
    justify-content: space-around;
}

footer .footer-buttons .view-buttons button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: black;
    border-right: 1px solid lightblue;
    border-top: 2px solid lightblue;
    color: white;
    border-radius: 0;
    padding: 5px;
}

footer .footer-buttons .signout-button {
    width: 10%;
    height: 100%;
    border: none;
    border-top: 2px solid lightblue;
    border-radius: 0;
    background-color: black;
    color: white;
}


