.app {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #ceb8a1;
}

.app-container {
	height: 93%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.no-show {
	display: none !important;
}
