.menu-inputs {
	display: flex;
	align-items: center;
}

.menu-inputs button {
	width: 30px;
	margin-left: 10px;
}

.not-favourite {
	background-color: gray;
}

.menu-dishes-label {
	margin-left: 5px;
	font-size: 0.9rem;
	font-weight: 500;
}

.menu-dishes-list {
	margin: 0px;
	padding-left: 25px;
	list-style: circle;
}

.menu-dishes-list-item {
	font-size: 0.85rem;
}
