.shoping-list  {
    color: white;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: auto;
}

.shoping-list-section {
    margin: 10px;
    padding: 20px;
    background: darkgoldenrod;
    border-radius: 8px;
}

.shoping-list-section-label {
    font-weight: 800;
    border-bottom: 1px dashed;
    margin-bottom: 2px;
}

.shoping-list-section-items {
    margin-top: 5px;
}

.shoping-list-section-item {
    padding: 2px;
}

.shoppin-list-note-container {
    box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);
    margin-top: 3vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

.shoping-list-note {
    border-radius: 5px;
    padding: 15px;
    max-height: 80vh;
    background: darkgoldenrod;
    overflow-y: auto;
}

.type-section-header {
    width: 40%;
    border-bottom: 1px dashed;
    margin: 0px;
}

.type-section-items {
    margin-top: 5px;
    margin-left: 10px;
}

/* .shopping-list-modal-content {

} */
.shopping-list-modal-content-list {
    list-style: none;
    padding-left: 5px;
}