.week-plan {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    /* overflow-y: hidden;
    overflow-x: auto; */
}

/* .week-plan .days {
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    padding: 10px;
} */
  

  
