.modal-content-dish-edit {
	height: calc(var(--full-modal-height) - 8rem);
}

.dish-modal-ingredients-list {
	height: 25rem;
}

.instructions-content {
	height: 25rem;
}

.ingredient-options {
	height: 15rem;
}
