.meal {
	display: flex;
	font-size: 14px;
	height: 100%;
	width: 100%;
	padding: 5px;
	justify-content: center;
	align-items: center;
	border-right: dotted 3px black;
	font-weight: 600;
}
.no-dish {
	background-color: gray;
	border-right: 3px dotted darkslategray !important;
}

.meal-content {
	cursor: pointer;
	font-weight: 400;
	cursor: pointer;
	font-size: 0.95rem;
}

.meal:last-of-type {
	border-right: none !important;
}

.meal-modal-content {
	max-height: 50vh;
}

.meal-modal-content-list {
	max-height: 45vh;
	overflow-y: auto;
	list-style: none;
	text-align: left;
	padding: 10px;
}

.meal-modal-content-list-item {
	margin-top: 3px;
	margin-bottom: 5px;
	padding-bottom: 3px;
	border-bottom: 1px solid black;
}
.meal-modal-content-list-item:last-of-type {
	margin-top: 3px;
	margin-bottom: 5px;
	padding-bottom: 0;
	border-bottom: none;
}

.meal-modal-content-list span {
	font-weight: 600;
	text-decoration: underline;
}

.change-all-checkbox {
	flex-direction: row;
}
