.meal {
    display: flex;
    font-size: 14px;
    height: 50%;
    width: 100%;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.meal-content {
    cursor: pointer;
    font-size: 0.8rem;
}

.meal:first-of-type {
    border-bottom: dotted 3px black;
}

.meal-modal-content {
    
}

.meal-modal-content ul {
    list-style: none;
    text-align: left;
    padding-left: 0px;
}

li {
    margin-top: 3px;
}

li span {
    font-weight: 600;
    text-decoration: underline;
}
